@base-login:        #1fbcd2;
@color-base: 		#1fbcd2;
@color-navbar: 		#1eaaf1;
@color-griss: 		#ddd;
@color-success:     #5cb85c;
@color-primary:     #337ab7;
@color-write: 	 	#fff;
@color-danger: 		#e2202c;
@color-base:        #1fbcd2;
@color-navbar:      #1eaaf1;
@color-griss:       #ddd;
@color-danger:      #e2202c;
