@base-login:            #ddd;
@color-griss:           #777;
@color-write:           #fff;
@color-primary:         #587BF8;
@color-success:         #009587;
@color-info:            #1EAAF1;
@color-danger:          #E2202C;
@color-warning:         #FDC02F;
